* {
    margin:0;
    padding:0;
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 60%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 8px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li > a:hover {
    color: var(--secondary-color);
  }

.hero {
    background: url('/assets/img/field.jpg') no-repeat center center/cover;
    height:100vh;
    position:relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero * {
    z-index:6;
}

.welcome {
    display:flex;
    flex-direction: column;
    text-align:center;
    color:white;
    padding: 0 0 1rem 0;
}

.welcome .logo {
    width:30%;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0;
    margin-top:1rem;
    animation-name: spin;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    align-self:center;
    color:black;
}

@keyframes spin {
    0% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}

.welcome h1 {
    font-size:3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.welcome p {
    font-size:1.6rem;
    padding: 0 2rem;
}

.info {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width:80vw;
    height:30vh;
    margin:0 auto;
    grid-template-areas:
    'hours phone'
    'hours maps'
    'hours map-icons';
    color:white;
    margin-top:3rem;
}

.hours, .phone, .maps, .map-icons {
    /* border:2px black solid; */
}

.hours {
    grid-area: hours;
    /* align-self: center; */
    border-right: 1px solid rgba(141, 138, 138, 0.4);
}

.hours h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.hours ul {
    list-style: none;
    margin-left:3rem;
}

.hours li {
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.phone {
    grid-area: phone;
    text-align: center;
}

.phone h2 {
    font-size: 2rem;
    font-weight: bold;
}

.phone p {
    font-size: 1.5rem;
    padding-top: 0.9rem;
}

.maps {
    grid-area: maps;
    text-align: center;
}

.maps h2 {
    font-size: 2rem;
    font-weight: bold;
}

.maps p {
    font-size: 1.5rem;
    padding-top: 0.2rem;
}

.map-icons {
    display:flex;
    grid-area: map-icons;
    color:white;
    justify-content: space-evenly;
    align-items: center;
}

.map-icons i {
    font-size: 2rem;
    padding-bottom: 3rem;
}

.about {
    display:grid;
    width:100%;
    height:50vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: .4fr 1fr 1fr;
    grid-template-areas:
    'mateh heading heading'
    'mateh region region'
    'mateh we we';
    margin-top:1rem;

}

.about > .heading {
    grid-area: heading;
    text-align: center;
    font-size: 3.5rem;
    padding-top:1rem;
    border-bottom: 1px solid rgba(141, 138, 138, 0.7);
    box-shadow: 3px;
}

.about .mateh {
    grid-area: mateh;
    background: url('/assets/img/mateh.jpg') no-repeat center center/cover;
}

.about .region {
    grid-area: region;
    margin:0 1rem;
    padding-top:1.7rem;
}

.about .we {
    grid-area:we;
    margin: 0 1rem;
}

.about .region h2,
.about .we h2 {
    font-size: 2rem;
    font-weight: bold;

}

.about .region p,
.about .we p {
    font-size: 1.1rem;
    padding-top:1rem;
}

.food {
    display:grid;
    width:100%;
    height:50vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas:
    'heading heading heading'
    'coffee-img coffee coffee'
    'sandwich sandwich sandwich-img'
    'burger-img burger burger'
    'alcohol alcohol alcohol-img';
    margin-top:1rem;
    margin-bottom:15rem;
}

.food > div {
    margin: 1rem;
}

.food > .heading {
    grid-area: heading;
    text-align: center;
    font-size: 3.5rem;
    padding-top:1rem;
    border-bottom: 1px solid rgba(141, 138, 138, 0.7);
    box-shadow: 3px;
}

.food .coffee-img {
    grid-area:coffee-img;
    background: url('/assets/img/coffee-2.jpg') no-repeat center center/cover;
}

.food .coffee {
    grid-area:coffee;
}

.food .sandwich-img {
    grid-area:sandwich-img;
    background: url('/assets/img/sandwich.jpg') no-repeat center center/cover;
}

.food .sandwich {
    grid-area:sandwich;
}


.food .burger-img {
    grid-area:burger-img;
    background: url('/assets/img/burger-2.jpg') no-repeat center center/cover;
}

.food .burger {
    grid-area:burger;
}

.food .alcohol-img {
    grid-area:alcohol-img;
    background: url('/assets/img/alcohol.jpg') no-repeat center center/cover;
}

.food .alcohol {
    grid-area: alcohol;
}

.food .coffee h2,
.food .sandwich h2,
.food .burger h2,
.food .alcohol h2 {
    font-size: 2rem;
    font-weight: bold;
}

.food .coffee p,
.food .sandwich p,
.food .burger p,
.food .alcohol p {
    font-size: 1.1rem;
    padding-top:1rem;
}

.event {
    background-color: rgb(122, 34, 34);
    padding-bottom:2rem;

}

.event > h2 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
}

.book-event {
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.book-event input {
    padding:1rem 0;
    margin:1rem 0;
    width:80%;
}

.social-links {
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    padding:1rem 0;
}

.social-box i {
    padding: 1rem 2rem;
}

.social-links p {
    font-size: 1.5rem;
}